// Post SCSS for the theme.

body.pagelayout-login {
    background-image: url([[pix:theme_mootbr17|loginbackgroundimage]]);
    background-size: cover;
}
body.pagelayout-frontpage {
    background-image: url([[pix:theme_mootbr17|frontpagebackgroundimage]]);
    background-size: cover;
}
body.pagelayout-mydashboard {
    background-image: url([[pix:theme_mootbr17|dashboardbackgroundimage]]);
    background-size: cover;
}
body.pagelayout-course,
body.pagelayout-incourse {
    background-image: url([[pix:theme_mootbr17|incoursebackgroundimage]]);
    background-size: cover;
}
body.pagelayout-embedded,
body.pagelayout-popup,
body.pagelayout-secure,
body.pagelayout-print {
    background-image: none;
}
body {
    background-image: url([[pix:theme_mootbr17|defaultbackgroundimage]]);
    background-size: cover;
}

/*
 * Rules for mootbr17 theme
 */
#page-site-index {
    .coursebox {
        .content .summary {
            float: none;
            width: 100%;
        }
        &.odd {          
            .content .summary {
                img {
                    float: left;
                }
                p {
                    text-align: left; 
                }
            }
        }
        &.even {
            .info{
                float: right;
            }
            .content .summary {
                img {
                    float: right;
                }
                p {
                    text-align: right;   
                }
            }
        }
    }
}
#site-subtitle {
    margin-left: -20px;
    color: #16B83E;
    font-size: 22px;
    font-weight: bold;

    img {
        vertical-align: top;
    }   
}